.label {
    -fx-text-fill: #7dc67e;
    -fx-font-size: 1em;
    -fx-font-weight: bold;
}

.connection-label {
    -fx-text-fill: #000;
    -fx-text-alignment: center;
}

.qr-code-container {
    -fx-background-color: #fff;
    -fx-border-color: #7dc67e;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
}